---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title='Home | Aidan'
	description='Aidan is a student and full stack software engineer'
	url='https://www.aidanjbennett.com'
>
		<div class='md:pt-48'>
			<h1 class='font-bold text-4xl'>Hello, I'm Aidan 👋</h1>
			<h2 class='text-3xl pt-2'>A experienced Full Stack Software Engineer</h2>
			<div class='flex font-medium focus:outline-none items-center pt-10'>
				<a
					href='/about'
					class='rounded-md border-4 border-black bg-fuchsia-500 px-3 py-2 hover:underline sm:text-text-xs md:text-xl mr-4'
				>
					About me
				</a>
				<a
					href='mailto:hey@aidanjbennett.com'
					class='rounded-md border-4 border-black px-3 py-2 bg-violet-500 shadow-2xl shadow-fuchsia-500 bg-gradient-to-r from-violet-500 to-fuchsia-500 hover:underline sm:text-text-xs md:text-xl'
					>Contact me</a
				>
			</div>
	</div>
</Layout>
