---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title='Projects | Aidan Bennett'
	description="Aidan Bennett's projects."
	url='https://www.aidanjbennett.com/projects'
>
	<div class='text-center'>
		<h1 class='text-4xl font-bold'>Coming soon...</h1>
	</div>
</Layout>
