---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
---

<nav
	class='w-screen bg-gradient-to-r from-violet-500 to-fuchsia-500 px-10 py-2'
>
	<div class='flex items-center justify-between'>
		<a href='/'>
			<Image class='rounded-md' alt='logo' src={logo} height='64px' width='64px' />
		</a>
		<div class='flex font-medium focus:outline-none'>
			<a
				class='px-3 py-2 hover:underline sm:text-text-xs md:text-xl'
				href='/about'
			>
				about
			</a>
			<a
				class='px-3 py-2 hover:underline sm:text-text-xs md:text-xl'
				href='/projects'
			>
				projects</a
			>
			<a
				class='rounded-md border-2 border-black bg-gradient-to-r from-violet-700 to-fuchsia-700 px-3 py-2 shadow-2xl shadow-orange-500 hover:underline sm:text-text-xs md:text-xl'
				href='mailto:hey@aidanjbennett.com'
			>
				contact
			</a>
		</div>
	</div>
</nav>
